gunicorn
requests
flask
flask-restful
flask-migrate
flask-sqlalchemy
flask-marshmallow
marshmallow-sqlalchemy
python-dotenv
tox
{% if cookiecutter.use_celery == "yes" %}
celery
{% endif %}
psycopg2-binary
